      /* Navigation Bar */
    .menubar{
        background-color: #1B3C53;
        display: flex;
        height: 63px;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
       
    }
    a {
        align-content: right;
        display: flex;
        text-decoration: none;
        color: #1B3C53;
        font: italic;
        font-size: 25px;
        margin: 10px;
        color:#E3E3E3;
        font-size: x-large;
    }
    a:hover {
        color: white;
    }
    body {
            background-color: #E3E3E3;
            margin: 0px;
            padding: 0px;
        }
    .links {
            
            display: flex;
            font-size: larger;
            margin-right: 5px;
            margin-left: 5px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    .logo-img {
        width: 55px;
        height: 55px;
        border-radius: 15px;
        margin-left: 10px;
    }
    .logo-section {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .logo-text {
        display: flex;
        flex-direction: column;
        
    }
    .site-title {
        padding-top: 2px;
        padding-bottom: 5px;
        padding-left: 2px;
        color: #E3E3E3;
        font-size: 30px;
    }

    .dropdown {
    position: relative;
    display: inline-block;
    position: relative;
    z-index: 999;
    }

    .dropbtn {
    background-color: rgb(61, 96, 190);
    color: white;
    padding: 12px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1B3C53;
    min-width: 200px;
    border: 1px solid #ccc;
    }

    .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    display: block;
    }

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
    font-size: 20px;
}

.dropdown-content a:hover {
    background-color: #4c7999;
    border-radius: 10px;
}
      
      body {
        margin: 0%;
        font-family:'Trebuchet MS', sans-serif;
        height: 100vh;
        background:url(SigninBackGround.jpg);
        color: azure;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

      }
      .login-box {
        background-color: rgba(15, 16, 65, 0.637);
        padding: 40px;
        border-radius: 8px;
        width: 300px;
        height: 380px;
        box-sizing: border-box;
        border-radius: 10px;
        margin-top: 100px;
        margin-left: 590px;
      }
      h1 {
        margin-bottom: 5px;
        font-weight: normal;
 
      }
      p {
        margin-bottom: 25px;
        font-size: medium;
        color: #ffffff;
 
      }
      input[type="text"],input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        background-color: transparent;
        color: #ffffff;
        font-size: medium;
 
      }
    label {
        display: flex;
        font-size: medium;
        margin-bottom: 20px;
 
    }
    button {
     width: 100px;
     padding: 12px;
     background-color: rgb(106, 151, 199);
     border: 10px;
     font-size: medium;
     color: aliceblue;
     border-radius: 10px;
     align-items: center;
     justify-content: center;
     margin-top: 10px;
    }
    .links {
       
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        color: #eaeaea;
    }
    .login-box a {
        font-size: 14px;
        margin-left: 30px;
        margin-right: 10px;
        width: 100px;
        margin-top: 20px;
    }
    